extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Большой аватар';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title Большой аватар

    //- Демонстрация компонента
    .ui-kit__component-demo
        +avatar-big("./../img/avatars/bigUserAvatar.jpg")

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +avatar-big("./../img/avatars/bigUserAvatar.jpg")

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        mixins/avatar-big.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            mixin avatar-big(pathTofile)
                .avatar-big
                    img(src= pathTofile, alt="Большой аватар")