extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Карточка с проектом';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title Карточка с проектом

    //- Демонстрация компонента
    .ui-kit__component-demo
        +card-of-project("https://www.google.ru/", "HTML, CSS, wordpress", "./../img/cardOfProject.jpg")
            p Архитектурное бюро John Doe и партнеры. <br> Сайт под ключ

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +card-of-project("https://www.google.ru/", "HTML, CSS, wordpress", "./../img/cardOfProject.jpg")
                p Архитектурное бюро John Doe и партнеры. &LT;br&GT; Сайт под ключ

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        mixins/card-of-project.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            mixin card-of-project(vis, textMini, pathToImg)
                .card-of-project
                    a(href=vis, class="card-of-project__image-link", target="_blank").
                        #&lsqb;div(class="title-mini") !&lcub;textMini}]
                        #&lsqb;img(class="card-of-project__image",  src= pathToImg, alt="Изображение карточки проекта")]
                    a(href=vis class="card-of-project__title-link", target="_blank")
                        block
