extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Карточка с проектом';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title Карточка с проектом

    //- Демонстрация компонента
    .ui-kit__component-demo
        +card-of-project(
            "Архитектурное бюро John Doe и партнеры. Сайт под ключ",
            "./../img/card-of-project/card-of-project-01.jpg", 
            "https://www.google.ru/", 
            "HTML, CSS, wordpress")


    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +card-of-project("Архитектурное бюро John Doe и партнеры. Сайт под ключ", "./../img/card-of-project/card-of-project-01.jpg", "https://www.google.ru/", "HTML, CSS, wordpress")

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        mixins/card-of-project.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            mixin card-of-project(title, imgPath, badgeText, link)
                .card-of-project
                    a(href=link, class="card-of-project__image-link", target="_blank").
                        #&lsqb;div(class="title-mini") !&lcub;badgeText}]
                        #&lsqb;img(class="card-of-project__image",  src= imgPath, alt="Изображение карточки проекта")]
                    a(href=link class="card-of-project__title-link", target="_blank")=title 
