extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Заголовки секций';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Заголовки секций

    //- Демонстрация компонента
    .ui-kit__component-demo
        +sections-headings()
            h2 Новые записи в 
                a(href="", class="sections-headings__link")="блоге"

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +sections-headings()
                h2 Новые записи в 
                    a(href="", class="sections-headings__link")="блоге"

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        mixins/sections-headings.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            mixin sections-headings()
                .sections-headings
                    block