//- Секция Обо мне
.about-me
    .about-me__content-wrapper
        .about-me__img-wrapper
            img(class="about-me__img", src="./../img/nouteimg.jpg", alt="Изображение ноутбука")
        .about-me__text-wrapper
            h3.about-me__heading обо мне
            p.about-me__text.
                Занимаюсь разработкой современных сайтов и приложений.
                <br>Мне нравится делать интересные и современные <br> проекты.
                Этот сайт я сделал в рамках обучения в школе <br> онлайн обучения WebCademy. 
                Чуть позже я обновлю в нём <br> свой контент. А пока посмотрите, как тут всё классно!
            h3.about-me__heading чем могу быть полезен
            ul.about-me__list
                li.about-me__list-item Верстка сайтов
                li.about-me__list-item Frontend
                li.about-me__list-item UI/UX дизайн