.about-me-inner
    .about-me-inner__heading-wrapper
        +sections-headings-inner("Обо мне")
    .about-me-inner__content-row
        .about-me-inner__avatar-wrapper    
            +avatar-big("./../img/avatars/bigUserAvatar2.jpg")
        .about-me__text-wrapper
            h3.about-me__heading обо мне
            p.about-me__text.
                Занимаюсь разработкой современных сайтов и приложений.
                <br> Мне нравится делать интересные и современные <br> проекты.
                Этот сайт я сделал в рамках обучения в школе <br> онлайн обучения WebCademy. 
                Чуть позже я обновлю в нём <br> свой контент. А пока посмотрите, как тут всё классно!
            h3.about-me__heading чем могу быть полезен
            ul.about-me__list
                li.about-me__list-item Верстка сайтов
                li.about-me__list-item Frontend
                li.about-me__list-item UI/UX дизайн
