.header-white
    h1.header-white__caption Digital Nomad
    p.header-white__description веб-разработчик, ui/ux дизайнер
    nav.header-white__nav
        a(href="#" class="header-white__nav-link") Обо мне
        a(href="#" class="header-white__nav-link") Портфолио
        a(href="#" class="header-white__nav-link") Блог
        a(href="#" class="header-white__nav-link") Контакты