.header.header--main
    h1.header__caption Digital Nomad
    p.header__description веб-разработчик, ui/ux дизайнер
    nav.header__nav
        a(href="#" class="header__nav-link") Обо мне
        a(href="#" class="header__nav-link") Портфолио
        a(href="#" class="header__nav-link") Блог
        a(href="#" class="header__nav-link") Контакты