section.section-skills
    .section-skills__heading-wrapper
        +sections-headings("Навыки")
    .skill-cards__row
        +skill-card("./../img/skill-01.jpg", "UI/UX design")
        +skill-card("./../img/skill-02.jpg", "HTML5")
        +skill-card("./../img/skill-03.jpg", "CSS3")
        +skill-card("./../img/skill-04.jpg", "JS")
        +skill-card("./../img/skill-05.jpg", "PHP")
        +skill-card("./../img/skill-06.jpg", "WordPress")