section.section-experience
    .section-experience__heading-wrapper
        +sections-headings("Опыт работы")
    .section-experience__timeline-wrapper

        .section-experience__timeline-row
            .section-experience__content-block
                span.section-experience__date февраль 2020 — по настояще время
                h2.section-experience__heading Frontend разработчик, Athlas IT solutions
                p.section-experience__paragraph.
                    Работа в команде социальной сети Атлас. Работал в команде над обновление сервиса Музыка, работа над видео разделом. Создание видеоплеера. Создание кроссбраузерных компонентов.

        .section-experience__timeline-row
            .section-experience__content-block
                span.section-experience__date сентябрь 2018 — Декабрь 2019
                h2.section-experience__heading Разработчик интерфейсов, Индекс
                p.section-experience__paragraph.
                    Работы в проекте Индекс Аналитика. Создание новых разделов сервиса. Оптимизация и создание новых компонентов платформы.

        .section-experience__timeline-row
            .section-experience__content-block
                span.section-experience__date март 2015 — август 2018
                h2.section-experience__heading Веб-разработчик, Cloud studio
                p.section-experience__paragraph.
                    Frontend и Backend для клиентских проектов студии. Работа над студийной CMS для интернет магазиновУчастие в разработке CRM системы “Sky CRM”. Стек используемых технологий: JS, ReactJS.