section.section-skills
    .section-skills__heading-wr
        +sections-headings-inner("Навыки")
    .skill-cards-row
        +skill-card("./../img/skill1.jpg", "UI/UX design")
        +skill-card("./../img/skill2.jpg", "HTML5")
        +skill-card("./../img/skill3.jpg", "CSS3")
        +skill-card("./../img/skill4.jpg", "JS")
        +skill-card("./../img/skill5.jpg", "PHP")
        +skill-card("./../img/skill6.jpg", "WordPress")