section.section-status
    .section-status__link-wrapper
        a(href="#" class="section-status__left-link") Свободен для новых проектов
        p.section-status__desc Рассматриваю предложения по верстке и frontend разработке.    
            a(href="#" class="section-status__right-link").
                Подробности
                <svg class="arrow" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 9H15" stroke="#1647ED" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10.5 4.5L15 9L10.5 13.5" stroke="#1647ED" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

//- ------------------


//- section.section-status
//-     .section-status__link-wrapper
//-         a(href="#" class="section-status__left-link") Свободен для новых проектов
//-         a(href="#" class="section-status__middle-link") Рассматриваю предложения по верстке и frontend разработке. Подробности
//-         a(href="#" class="section-status__right-link")
//-             <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
//-                 <path d="M3 9H15" stroke="#1647ED" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
//-                 <path d="M10.5 4.5L15 9L10.5 13.5" stroke="#1647ED" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
//-                 </svg>