nav.header__nav
    a(href="#" class="header__nav-link") Обо мне
    a(href="#" class="header__nav-link") Портфолио
    a(href="#" class="header__nav-link") Блог
    a(href="#" class="header__nav-link") Контакты