// Контейнер шапки
.header-white {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 41px;
  background-color: #fff;

  text-align: center;
}

// Модификатор шапки - Тёмная тема
.header-white--inner {
  background: #eaeff2;
}

// Заголовок Digital Nomad
.header-white__caption {
  font-family: $headingsFont;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 130%;

  color: #000000;

  margin-bottom: 10px;
}

// Текст ------- веб-разработчик, ui/ux дизайнер
.header-white__description {
  font-family: $MontserratFont;

  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */

  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #000000;

  margin-bottom: 39px;
}

// Навигация
.header-white__nav {
  display: flex;
  justify-content: center;
}

// Ссылки
.header-white__nav-link {
  font-family: $MontserratFont;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */
  text-transform: uppercase;
  text-decoration: none;
  color: #000;

  margin-right: 59px;
}

.header-white__nav-link:last-child {
  margin-right: 0;
}

.header-white__nav-link:hover {
  color: rgb(100, 88, 88);
  text-decoration: none;
}
