.main-page__blog {
  width: 1110px;
  margin: 0 auto;
}

// Дополнительная обёртка для ЗАГОЛОВКА в блоке с карточками
.main-page__blog-heading-wrapper {
  margin-bottom: 45px;
}

// Обёртка для карточек - флекс контейнер
.main-page__blog-card-wrapper {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 76px;
}

.main-page__blog-card-wrapper .card-of-project {
  &:nth-child(odd) {
    margin-right: 30px;
  }

  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  margin-bottom: 40px;
}
