.section-skills {
  width: 1110px;
  margin: 0 auto;
}

// Обёртка для заголовка секции
.section-skills__heading-wr {
  margin-bottom: 60px;
}

// Ряд - флекс контейнер для карточек с навыками
.skill-cards-row {
  display: flex;
  justify-content: center;
}

.skill-cards-row .skill-card {
  margin-right: 30px;
}

.skill-cards-row .skill-card:last-child {
  margin-right: 0;
}
