.sections-headings {
  font-family: $headingsFont;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
}

.sections-headings .sections-headings__link {
  color: #000;
  text-decoration: underline;
}
