mixin card-of-project(lnk, imgPath, badgeText, link)
    .card-of-project
        a(href=lnk, class="card-of-project__image-link", target="_blank").
            #[div(class="title-mini") !{badgeText}]
            #[img(class="card-of-project__image",  src= imgPath, alt="Изображение карточки проекта")]
        a(href=link class="card-of-project__title-link", target="_blank") !{link}
            
