mixin card-of-blog(vis, pathTofil, desc)
    .card-of-blog
        a(class="card-of-blog__img-link", href=vis, target="_blank")
            img(class="card-of-blog__img", src= pathTofil, alt="Изображение карточки блога")
        a(class="card-of-blog__link", href=vis, target="_blank")=desc