mixin pagination-item(text)
    a(href="https://webcademy.ru/", target="_blank").pagination-item= text

//- mixin pagination-item(text)
//-     .pagination-item
//-         span.pagination-item__text= text