mixin skill-card(source, text)
    .skill-card
        .skill-card__img-wrapper
            img(src=source, class="skill-card__img", alt="Изображение карточки")
        span.skill-card__card-descr= text