extends ../layouts/page-layout.pug
include ./../mixins/*.pug

block variables
    - var title = 'Главная страница';
    - var pageClass= "index-page";

block content
    header.header
        

    include ./../sections/section.pug
    include ./../sections/section-experience.pug  


    footer.footer
        h1 Footer