//- Собираю главную страницу
extends ../layouts/page-layout.pug
include ./../mixins/*.pug

block variables
    - var title = 'Главная страница';
    - var pageClass= "";

block content
    include ./../sections/header/header-main.pug
    main.main-page
        .main-page__about-me
            include ./../sections/about-me.pug
        .main-page__status
            include ./../sections/section-status.pug
        //- .main-page__blog
        .main-page__blog
            .main-page__blog-heading-wrapper
                +sections-headings("Новые проекты в ", "https://www.google.ru/", "портфолио")
            .main-page__blog-card-wrapper
                +card-of-project("https://www.google.ru/", "./../img/cardOfProject.jpg", "HTML, CSS, wordpress", "Архитектурное бюро John Doe и партнеры. Сайт под ключ")
                +card-of-project("https://www.google.ru/", "./../img/cardOfProject2.jpg", "HTML, CSS, JS, React", "Сайт о спасении черепах и морской фауны. Верстка и frontend")
                +card-of-project("https://www.google.ru/", "./../img/cardOfProject3.jpg", "Figma, HTML, CSS, PHP", "Квадрокоптер Phantom от Dji company. Сайт под ключ")
                +card-of-project("https://www.google.ru/", "./../img/cardOfProject4.jpg", "HTML, CSS, wordpress", "Верстка сайта для газеты “Вечерний Лондон”")
        .main-page__portfolio
            .main-page__portfolio-heading-wrapper
                +sections-headings("Новые записи в ", "https://www.google.ru/", "блоге")
            .main-page__portfolio-card-wrapper
                +card-of-blog("Как я встретил старого друга в NY и чем это закончилось", "./../img/post-card/post-card-01.jpg")
                +card-of-blog("Парусный спорт. 10 правил для начинающего", "./../img/post-card/post-card-02.jpg")
                +card-of-blog("Мое рабочее место и аксессуары в 2020 году", "./../img/post-card/post-card-03.jpg")
    include ./../sections/footer.pug
